 body{
    background-color: #769494;
 }
 
 
 

 .createNotes-container{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;
        
        
   }

   .footer-wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 15rem;
   }

   .notes-wrapper{
        display: flex;
        flex-direction: column;
   }

   .inputarea:focus{
    outline: none;
   }

   .textarea:focus{
    outline: none;
   }

   .button-style{
    /* position: relative;
    right: 2.5rem;
    bottom: 1rem; */
    background-color: #E6DED3;
    border: none;
    /* margin-bottom: 0.5rem; */
    cursor: pointer;
    font-size: 1rem;
    align-content: center;
    border-radius: 8px;
   
   }

